footer {
  background-color: $primary-color;
  padding: 40px 0;
  @media screen and (min-width:$desktopWidth) {
    display: none;
  }

  .link {
    display: flex;
    justify-content: center;

    li {
      width: 36px;
      height: 36px;
      border: 1px solid $border;
      margin-left: 10px;
      padding: 5px;
      border-radius: 3px;
      opacity: .4;
      transition: .3s ease;
      &:hover {
        opacity: 0.8;
      }
      svg path {
        fill: white;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  p {
    margin-top: 20px;
    text-align: center;
    color: $light-color;
  }
}
