.wrapper {
  margin: 0 auto;
  position: relative;
  @media screen and (min-width:$smDesktopWidth) {
  height: 100vh;
  overflow: hidden;
  }
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: transform .2s linear;
  @media screen and (min-width:$smDesktopWidth) {
    display: flex;
    height: 100%;
    section {
      width: 100%;
      min-height: 100vh;
      flex: 0 0 100%;
    }
  }
}

.container {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: $desktopWidth;

  @media screen and (max-width: $desktopWidth ) {
    max-width: $smDesktopWidth;
  }
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media (min-width:$phoneWidth) and (max-width: $tableWidth ) {
    max-width: $phoneWidth;
  }
  @media (min-width:$smPhoneWidth) and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

section, .section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  .container {
    padding-top: rem(100px);
    padding-bottom: rem(100px);
  }
  @media (min-width: $tableWidth) and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media (min-width: $phoneWidth) and (max-width: $tableWidth) {
    padding: 28px 0;
  }
  @media (min-width: $smPhoneWidth) and (max-width: $phoneWidth) {
    padding: 50px 0;
  }
}
.bgblock-gray {
  background-color: $background;
}

.grid {
  margin-right: rem(-20px);
  margin-left: rem(20px);
  padding-right: rem(40px);
}
