#mail {
  h2 + p {
    text-align: center;
    font-size: rem(18px);
  }

  .form-mail {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-height: 400px;
    margin: rem(20px) auto 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    input, textarea {
      width: 100%;
      border-radius: 3px;
      padding: 0 15px;
      color: inherit;
      font-size: 14px;
      margin-top: 10px;
      height: 30px;
      border: 1px solid $border;
      transition: .2s linear;

      &:focus {
        border: 1px solid rgba($mailColor, .7);
      }
      &:focus::-webkit-input-placeholder {
      color: transparent;
    }
    }
    input.error, textarea.error {
      border-color: $danger;
    }
    input.error + p, textarea.error + p {
      opacity: 1;
      visibility: visible;
      height: auto;
      transform: translateY(0px);
    }

    input + p, textarea + p {
      font-size: rem(10px);
      color: $danger;
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition: .2s linear;
      transform: translateY(-10px);
    }

    textarea {
      height: 150px;
      padding: 15px;
      font-family: inherit;
      color: inherit;
      font-size: 14px;
    }

    button {
      width: 150px;
      margin: 20px auto 0;
      cursor: pointer;
      &:hover {
        background-color: rgba($primary-color, .9);
      }
    }
  }
}
