// Fonts here
/* /assets/fonts/yanone-kaffeesatz-v10-latin-regular.eot */
/* roboto-regular - latin */
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Roboto-Light";
  src: url("/assets/fonts/Robotolight.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/Robotolight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/assets/fonts/Robotolight.otf") format("opentype"), /* Open Type Font */
  url("/assets/fonts/Robotolight.svg") format("svg"), /* Legacy iOS */
  url("/assets/fonts/Robotolight.ttf") format("truetype"), /* Safari, Android, iOS */
  url("/assets/fonts/Robotolight.woff") format("woff"), /* Modern Browsers */
  url("/assets/fonts/Robotolight.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Nord-Bold";
  src: url("/assets/fonts/NordBold.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/NordBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/assets/fonts/NordBold.otf") format("opentype"), /* Open Type Font */
  url("/assets/fonts/NordBold.svg") format("svg"), /* Legacy iOS */
  url("/assets/fonts/NordBold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("/assets/fonts/NordBold.woff") format("woff"), /* Modern Browsers */
  url("/assets/fonts/NordBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
