// Font
$mainFont                : Roboto-Light, sans-serif;
$titleFont               : Nord-Bold, sans-serif;

// Main size
$mainFontColor           : #666666;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.8;

//Width window
$desktopWidth            : 1200px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$phoneWidth              : 580px;
$smPhoneWidth            : 320px;

// Main color
$primary-color           : #222222;
$light-color             : #ffffff;
$danger-color            : #41879D;
$border-color            : #143f4c;
$background              : #f5f5f5;
$border                  : #D8E1E4;
$mailColor               : #555555;
$danger                  : #E7746F;
